diagramatix/public/diagramatix-export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Diagramatix Export Schema
  Namespace: http://diagramatix.com/export/1.0

  Two version numbers are tracked:
    schemaVersion (major.minor) — the export data structure version.
      Only bumped when fields are added, removed, or renamed.
      Major bump = breaking change; minor bump = additive (new optional fields).
    appVersion (major.minor.build) — the Diagramatix application version.
      Build number = git commit count; changes every commit.

  The xs:schema version attribute carries the schemaVersion.
  The appVersion is recorded as an annotation below and injected at runtime via /api/schema.

  WHEN TO BUMP schemaVersion: ONLY when the data structure actually changes —
  either this XSD / the Diagram JSON export shape, OR the physical database as
  described by the Logical DDL (app/lib/diagram/ddlGenerate.ts). The version number
  tracks the persisted data structure; if neither the export shape nor the DDL
  changes, DO NOT bump it (feature-only releases ride the current version).

  MAINTENANCE — these FOUR must always be kept in sync, and move together on a bump:
    1. app/lib/diagram/types.ts   — the SCHEMA_VERSION constant + its history comment
    2. this XSD                   — the shape + the history block below
    3. app/lib/diagram/ddlGenerate.ts — the Logical DDL (physical DB structure)
    4. schema/SCHEMA_CHANGELOG.md — the human-readable changelog (table + detail)

  v1.10 — round-trip serialisation completeness bump.
    No schema shape change. The v1.9 fields below were declared in this
    XSD but the XML serialiser previously dropped them; they are now
    emitted and parsed faithfully:
      <dgx:data>      attributes "poolFontSize", "laneFontSize", "database"
      <dgx:connector> attribute  "bottleneck"
    See SCHEMA_VERSION history in app/lib/diagram/types.ts for the
    behavioural changes shipped in this release (Task/Sub-Process Name
    + autosize, Pool/Lane grow-only, Visio bulk import, scan for issues,
    Deleted Diagrams hierarchy, etc.) — none of which alter the data
    shape, so the XSD is unchanged below.

  v1.11 — template groups.
    No project-export schema shape change. Templates are not carried in
    this XSD's <diagramatix-export> bundle; the new `DiagramTemplate.group`
    field is serialised in `.diag_tems` template-export files and in
    the `/api/backup` user-backup payload (both JSON, not covered by
    this XSD). The `schemaVersion` attribute below is bumped to 1.11
    so consumers can detect the new feature window even if no
    project-XML field changed.

  v1.12 — subscriptions.
    No project-export schema shape change. Subscriptions are user-level
    metadata (SubscriptionLevel rows + User.subscriptionLevelId +
    User.subscriptionAssignedAt + UsageCounter rows) and are never
    embedded in a diagram or project export. The schemaVersion attribute
    is bumped to 1.12 so importers can detect the new feature window.

  v1.13 — subscriptions phase 2 foundation (Stripe wiring).
    No project-export schema shape change. New User columns
    (stripeCustomerId, stripeSubscriptionId, stripeSubscriptionStatus,
    currentPeriodEnd, subscriptionEndsAt) plus
    SubscriptionLevel.stripePriceId are user-level / catalog metadata
    only — never embedded in a diagram or project export. Same release
    also covers the Visio v1.6 stencil (fresh BaseID GUIDs vs v1.5),
    focus-edit zoom on label edits, and the Pool/Lane "Label" → "Name"
    rename. The schemaVersion attribute is bumped to 1.13 so importers
    and the User Guide reflect the new feature window.

  v1.14 — Bubble Help v2 + Diagram Properties restructure.
    Adds one new optional element to <dgx:data>:
      <dgx:processOwner name="…" email="…"/>
    Both attributes optional. Pre-v1.14 exports omit the element;
    importers treat it as no owner. Bubble Help itself is admin-
    managed catalog data (per-diagramType rows in the BubbleHelp
    Prisma table) and is NOT embedded in diagram exports.

  v1.15 — Collaboration & Review (Phases 1-3).
    Two additive enum members, both round-tripped as ordinary diagram
    content:
      SymbolTypeEnum    + "review-comment"      (a reviewer's pink note;
                                                  element.properties carries
                                                  reviewId / reviewerId /
                                                  reviewerName / reviewerEmail)
      ConnectorTypeEnum + "review-comment-link"  (pink link note -> element)
    The rest of the feature — Collaboration Groups, DiagramReview /
    DiagramReviewer, Notifications — is relational metadata and is NOT
    embedded in a diagram or project export. Pre-v1.15 exports simply
    contain neither enum value.

  v1.16 — BPMN right-click picker + editor polish. No schema shape
    change; both GatewayTypeEnum and GatewayRoleEnum already existed.
    The bump documents three behavioural changes worth knowing about
    when comparing exports across versions:
      - The gateway right-click "type-picker" now exposes both
        gatewayType (None / Exclusive / Inclusive / Parallel /
        Event-based) AND properties.gatewayRole (Decision / Merge) in
        a single multi-section menu. Pre-v1.16 the user could only
        set gatewayRole via the Properties panel.
      - The intermediate-event right-click Trigger list no longer
        offers "Terminate" — BPMN reserves the terminate trigger for
        end events only. Exports that already carry eventType =
        "terminate" on an intermediate-event remain readable (the
        schema still allows the enum value); the change is purely
        in the picker UI.
      - Intermediate events get a second right-click section,
        "Flow Type" (None / Catching / Throwing), writing to the
        existing top-level FlowTypeEnum-typed flowType attribute.
      - Properties-panel label "Element" renamed to "Gateway Type"
        for consistency with the right-click section header.
      - Four additive diagram-check rules in the shared rule registry
        (Scan Diagrams for Issues / Diagram Scan for Issues): every
        Activity must have an incoming AND outgoing sequence connector
        (errors; event sub-processes and process-scope expanded subs
        exempt); sequence connectors with 4+ bends are flagged as
        warnings and highlighted orange on the canvas; Task/Sub-Process
        type should match its message flows (Send to / Receive from a
        non-IT pool; User for any flow to or from an IT system pool).
        No XSD shape change — these rules read existing fields only.
      - Sub-process right-click picker gets a second section, "Repeat"
        (None / Loop / MI Sequential / MI Parallel), writing to the
        existing top-level RepeatTypeEnum-typed repeatType attribute.
      - Two ad-hoc-aware rules and matching changes to the activity
        flow-connectivity rules:
          * adhoc-ep-no-start-end (error): an Expanded Sub-Process
            marked Ad-Hoc must not contain or boundary-mount Start or
            End events.
          * adhoc-ep-no-sequence-between-children (error): an Ad-Hoc
            EP must not have sequence connectors between its child
            activities.
          * activity-no-incoming / activity-no-outgoing are now
            EP-aware: activities inside an ad-hoc EP are never flagged,
            and inside a non-ad-hoc EP one orphan per EP is allowed
            (the entry/exit activity). Two or more orphans of either
            kind in a non-ad-hoc EP are errors.
      - Scan-highlight connector overlay (Review Mode) no longer draws
        an orange line through the centre of the source/target element
        — the invisible-leader waypoints at element centres are
        excluded from the overlay polyline.
      - Two new data-artefact rules (warnings):
          * data-object-no-association: a Data Object with no
            association connector.
          * data-store-no-association: a Data Store with no
            association connector.

  v1.17 — Independent Context-Diagram "Process Names" font size +
    behaviour batch (AI Generate rules, BPMN scanner overhaul, image
    attachments, UI restructure). ONE shape change below:
      <dgx:data> gains an optional attribute `processFontSize`
        (xs:decimal). Carries the Context-Diagram process-system
        label size independently from entity labels (`fontSize`),
        connector labels (`connectorFontSize`) and title
        (`titleFontSize`). Default 16 when omitted. Pre-1.17 exports
        omit the attribute and importers fall back to the default.
    Behaviour-only changes shipped under the same bump:
      * Context Diagram AI Generate now code-enforces C3.* (process
        radius cap, entity-face spread, ≥20 px cluster spacing on the
        process circle, label stagger). Endpoint nudge wraps around
        corners and travels the full circumference of circles.
        Upper-left-quadrant attachment pile-up fixed by wrapping the
        cluster's procAngle to (-π, π] before the side check.
      * Per-Context font controls: Entity Names / Process Names /
        Flow Labels with their own defaults. Properties label header
        reads "Name" for entities and processes; "Label" for flow
        connectors.
      * Process Context AI Generate enforces P2.08 (actor spacing),
        P2.09 (no use-case → use-case associations), P2.10 (actor
        groups centred on the boundary midpoint) and P2.11 (use-case
        ellipses auto-grown to fit the wrapped label while preserving
        aspect ratio). The hardcoded "P-XX-NN" process-numbering
        instruction is removed from the prompt.
      * BPMN scanner rule registry gains stable codes B01..B31. Flat
        viewer at /dashboard/admin/scanner-rules. B14 rewritten as a
        per-Task trigger matrix (message direction × pool kind);
        B28 absorbed into B14; B22 removed; B19 narrowed to
        INCOMING; B23..B27 added for boundary start / intermediate
        routing; B29 sequence-clips-own-endpoint and B30
        sequence-clips-foreign-node added (with circle / diamond
        body exemptions); B31 manual-task-no-it-system-message
        added.
      * BPMN AI Generate accepts image attachments (PNG / JPEG /
        WebP / GIF). Sonnet vision reverse-engineers the BPMN
        plan from a diagram screenshot or translates a flowchart.
        Two-phase pipeline lets the user edit the plan JSON before
        applying layout.
      * bpmnLayout's messageBPMN emission now writes 4 waypoints
        (centre, srcEdge, tgtEdge, centre) and sets
        sourceInvisibleLeader / targetInvisibleLeader true so
        AI-generated message flows are body-draggable out of the
        box. messageBPMN body drag: select the flow and grab
        anywhere on the highlighted line to slide horizontally; the
        blue midpoint handle is gone.
      * "Create Prompt from Diagram" red admin block on every
        AI-Generate panel (BPMN PlanPanel + non-BPMN AiPanel):
        Technical Description (deterministic walker) and Staff
        Narrative (Sonnet rewrite under an editable briefing stored
        as DiagramRules category "staff-narrative").
      * AI Plan Formats viewer covers every diagram type via a type
        selector. Per-diagram-type "AI Rules & Preferences —
        <Type>" admin link in the Diagram menu opens
        /dashboard/rules?category=<slug>. Sidebar hides in scoped
        mode.
      * Admin link moved from the System / File menu to the leftmost
        menu item on Dashboard, Project and Diagram screens.
      * Matrix screensaver toggle moved to the bottom-left.
      * Notification dropdown wider with two visible lines.

  v1.18 — SuperAdmin / OrgAdmin reorg + messageBPMN label rule + Project
    tile right-click menu. No schema shape change — all-behavioural.
      * messageBPMN labels now anchor to the SOURCE attachment point
        (Paul's rule, Scenario 4). When the source pool moves or its
        source-side boundary moves the label moves rigidly with the
        source endpoint; when only the target side moves the label
        stays put. Replaces the earlier nearest-endpoint heuristic
        across MOVE_ELEMENT, MOVE_ELEMENTS and RESIZE_ELEMENT paths.
      * Black-box pool bottom-edge engagement fixed — a click on the
        boundary of a black-box pool now starts a RESIZE on the first
        attempt instead of needing a prior body-drag to "wake up" the
        resize tracker.
      * Project tile destructive actions moved to a right-click
        context menu with three tiers: x (delete project, diagrams
        → Unorganised; Owner/OrgAdmin/SuperAdmin), x+ (delete
        project, diagrams → Archive; OrgAdmin only), x++ (hard delete
        project + every diagram; SuperAdmin AND project Owner only).
        Inline icon buttons collapse to just clone (⧉).
      * Role colours: SuperAdmin entry points + actions are now RED;
        OrgAdmin remains orange. Updated across every chip, header
        and admin nav link.
      * SuperAdmin admin pages renamed from "Admin —" to plain
        "Registered Users" (vSCHEMA.COMMIT version tag); per-page back
        link styled as a blue hyperlink with the destination word
        underlined, dynamic label (Dashboard / SuperAdmin / OrgAdmin
        / Project / Diagram) honouring `?from=` everywhere.
      * Bubble Help editor migrated from the right-side Diagram
        Properties panel to /dashboard/admin/bubble-help with its
        own diagram-type dropdown and Save+Cancel both disabled
        until the row list diverges from the last persisted snapshot.
      * BPMN Scanner Rules link moved from the BPMN diagram menu to
        the SuperAdmin nav, renamed "BPMN Scanner Rules". Per-
        diagram-type "AI Rules & Preferences — BPMN Process"
        shortcut removed from the diagram menu entirely.
      * Registered Users table: sortable + filterable per column
        (Name, Email Address, Status, Subscription, Registered);
        Subscription pill shows trial days remaining for Free; Org
        Role column collapsed to display-only (role flips happen
        on the Org Settings page).
      * OrgAdmin landing page at /dashboard/org-admin replaces the
        three-chip cluster on the dashboard header with a single
        "OrgAdmin" chip that opens a menu of three cards
        (Registered Users, Org Settings, Project Sharing). Each
        card carries `?from=/dashboard/org-admin` so the back link
        on the destination page reads "← OrgAdmin".
      * Entity Type removed from the Org Settings UI (schema field
        retained with default "Other" for forward-compat). Org
        Settings Danger Zone Delete Org no longer guards on
        subscription tier — SuperAdmin can delete any non-last Org.
      * New BPMN scan rule B32 — Pool / Lane labels must fit within
        the rotated header region. New AI generate rule R7.05 —
        black-box pool names use Shift-Enter on word boundaries so
        the rotated header stays compact.
      * Connector-drag auto-scrolls the canvas when the cursor
        approaches a viewport edge mid-creation; rubber-band line
        stays attached to the cursor across pan updates by reading
        the pan/zoom refs each tick.
      * Diagram Issues popup is now draggable; canvas is visible
        behind it instead of overlay-dimmed.
      * Save / Cancel pattern made dirty-aware across editors:
        Bubble Help, Subscriptions, Features Catalog, Rules Editor.
        Save and Cancel both disable until in-memory state diverges
        from the last persisted snapshot; re-disable after save.

  v1.19 — Audit Stage-2 data-integrity fixes. No schema shape change.
    Backend/restore only: author-attribution FKs made nullable + SET NULL;
    full backup now captures + restores every model; wipe-restore breaks
    the Diagram↔PublishedVersion FK cycle. None of these touch the
    diagram/project export shape.

  v1.20 — Audit Stage-3 engine fixes. No schema shape change. Undo/redo
    now preserves title/fonts/database/processOwner/parentDiagramIds (so a
    round-tripped export is unaffected by an undo); DELETE_ELEMENT cleans up
    connectors on a removed host's boundary events; property setters clear
    the stale redo branch. All behavioural.

  v1.21 — Diagram-type identity + backup preview/streaming + restore
    hardening. No schema shape change. Per-type 2-char codes + pastel
    colours live in the admin-managed DiagramTypeStyle table (NOT embedded
    in an export); backups gain a pre-flight preview, member/Org selection
    and live streaming progress; user + rules/prompts restores are now
    transactional. The schemaVersion attribute is bumped to 1.21 so
    importers and the User Guide reflect the new feature window even though
    no project-XML field changed.

  v1.22 — SharePoint/OneDrive integration. Data Objects / Data Stores may
    carry a `sharepointLink` (the linked file's metadata). Additive optional
    field on data elements; older exports remain valid.

  v1.23 — Entity Lists (governed name sources for BPMN pools/lanes:
    External Participants, IT Systems, and an Organisation → Org Unit →
    Team → Role hierarchy, maintained at Org and Project level). No
    project-XML field changed — pools/lanes still carry a plain label;
    the names are simply drawn from a project's adopted/created structure.
    schemaVersion bumped to 1.23 so importers and the User Guide reflect
    the new feature window (same convention as v1.21).

  v1.24 — BPMN process Simulator (BPSim-aligned discrete-event simulation).
    Per-element baseline simulation parameters (arrival / cycle / wait
    distributions, team + resource units, loop / multi-instance, event
    triggers, token property assignments) ride OPAQUELY in
    element.properties.sim — the open PropertiesType already permits this,
    so no enumerated schema change. The decision-branch routing fields were
    added to the Connector data model but the diagram XML/XSD export was
    left unchanged at 1.24 (deferred to 1.25). Teams, studies, scenarios and
    runs are application database tables, not part of the diagram export.

  v1.25 — Simulation connector fields now SERIALISED in the diagram XML
    export. A <dgx:connector> may carry the decision-gateway branch routing as
    optional attributes: branchProbability (0..100), branchCondition (an
    expression), isDefaultFlow (the else edge). Previously in-model only —
    emitted now, the same way the v1.10 fix restored `bottleneck`. Additive +
    optional; older exports remain valid; export-only (no importer change).
    (The matching DDL-generator columns + User-Guide/Features notes follow as a
    separate update.)

  v1.26 — Application metadata only: DiagramData gains optional `aiFeedback`
    (the AI's open questions + the user's answers, for a clarification round).
    Lives in the saved JSON, not the BPMN XML interchange — no XSD shape change.

  v1.27 — DB-backed User Guide (in-app SuperAdmin editor), an image library
    (screen capture + upload), global voice dictation, Save & View, Markdown
    export, SharePoint documents, and a table-level User Guide backup/restore
    (content + the whole image library, ids preserved). Application/admin
    features only — the diagram data structure and this XSD are UNCHANGED; the
    version attribute advances with the release window (same convention as
    v1.10 / v1.21).

  v1.28 — BPMN layout-geometry rules: Start/End event placement + connector
    length (R8.14/R8.15/R8.18), element de-overlap (R8.17), event-label nudge
    (R8.16); new scanner checks B33/B34/B35 (event-label / element / lane
    overlap); a lane-tiling re-stack fix and an EP boundary-resize drift fix.
    Layout, validation and editor-interaction only — the diagram data structure
    and this XSD are UNCHANGED; the version attribute advances with the release
    window (same convention as v1.27).

  v1.29 — Simulation results & comparison: a true per-case flow-time distribution
    (Typical p50 / Near-worst p95 / Spread + a distribution histogram) in place of
    run-average percentiles; a grounded AI assessment of an As-is/To-be comparison
    (deltas computed deterministically, then written up by the model); a browsable
    Run History (name/pin runs, prune the unpinned, compare any two saved runs);
    and As-is/To-be comparison carried through the example catalogue (variant
    scenarios survive capture/adopt) with a seeded Aardwolf Loans comparison.
    Simulation runtime, results and example-catalogue only — the diagram data
    structure and this XSD are UNCHANGED; the version attribute advances with the
    release window (same convention as v1.27 / v1.28).

  v1.30 — Simulator resource calendars / working hours: a project-level Calendar
    library (reusable weekly shift patterns — open windows per weekday with an
    optional per-window arrival-rate multiplier for time-varying demand). Teams are
    staffed only during their calendar's open windows; arrival sources only generate
    when open. A source event may carry an OPTIONAL string `calendarId` inside
    element.properties.sim (referencing a project calendar) — the open PropertiesType
    already permits it, so this XSD's structure is UNCHANGED (as with the v1.24 sim
    params). New runtime DB tables (SimulationCalendar, SimulationTeam.calendarId)
    are not part of the diagram export. The version attribute advances with the
    release window.

  v1.31 — DiagramatixMINER (Process Mining): ingest event logs → discover the
    implied BPMN + a candidate State-Machine, check state-change conformance vs a
    reference State-Machine, and calibrate a simulation "digital twin" from the
    mined data. Discovered artefacts are ordinary bpmn/state-machine diagrams; the
    new ProcessMiningRun runtime table is not part of the diagram export. This
    XSD's structure is UNCHANGED; the version attribute advances with the release
    window.

  v1.32 — DiagramatixMINER Examples: an adoptable process-mining sample catalog
    (new MiningExample runtime table; one-click "Load & open" recreates a ready
    ProcessMiningRun + reference State-Machine diagrams in a fresh project). The
    reference diagrams are ordinary state-machine diagrams; the catalog table is
    not part of the diagram export. This XSD's structure is UNCHANGED; the
    version attribute advances with the release window.

  v1.33 — Risk & Control: a step may carry an OPTIONAL `risk` object inside
    element.properties ({ riskRefs[], controlRefs[] } — each a catalog item id +
    cached code/label), the ONLY diagram-export change — the open PropertiesType
    already permits it, so this XSD's structure is UNCHANGED (as with the v1.24
    sim params and v1.30 calendarId). New runtime DB tables (RiskControlLibrary,
    RiskControlItem, RiskControlLink — an org master adopted into a project copy)
    are not part of the diagram export. The version attribute advances with the
    release window.

  v1.34 — DiagramatixMINER standards + Technical Design Notes + Logical DDL.
    No diagram-export shape change — this XSD's structure is UNCHANGED; the version
    advances with the release window. (1) The process miner now accepts logs with
    no State column (an Activity→State table completes the lifecycle), reads
    Control/Risk/Policy IDs off events into a governance aggregate, and imports/
    exports IEEE XES (1849) and OCEL 2.0/1.0 alongside CSV — none of which touch
    the diagram export. (2) A SuperAdmin "Technical Design Notes" document + Word
    .docx export (application feature; DB tables HelpChapter/HelpSection gain a
    `collection` discriminator). (3) The Diagramatix DDL generator is relabelled
    "Logical DDL Generation". All runtime/app — the diagram bundle is untouched.

  v1.35 — APQC Process Classification Framework (PCF). SHAPE CHANGE: a new
    OPTIONAL top-level <pcfAttribution> element on the export root (between
    <project> and <diagrams>), carrying APQC's verbatim ©notice — emitted whenever
    the export contains PCF-derived content (a diagram classification or an element
    tagged with a pcfId). APQC's royalty-free licence requires the notice to travel
    with every copy/derivative. Diagrams may also carry an OPTIONAL DiagramData.pcf
    classification and element.properties.pcfHierarchyId/pcfId (open PropertiesType,
    unchanged). New runtime tables PcfFramework + PcfNode and a Project.pcf column
    are not part of the diagram export.

  v1.36 — Primary procedure document. SHAPE CHANGE: a new OPTIONAL <procedureDoc>
    element on DiagramDataType (after <processOwner>) — the written SOP linked to a
    process, with a required url and an optional name. Runtime-only (NOT in the
    export): the Process Portal (org-wide search/browse of published processes,
    entity where-used search, admin-managed "My Teams") and the review-due reminder
    cron; their Diagram denorm columns (procedureDoc*/pcf*/entityRefs) are derived
    from data and are not part of the diagram export.

  v1.37 — Import competitor BPMN diagrams as-is. SHAPE CHANGE: a new OPTIONAL
    boolean relaxedLayout attribute on <data> (emitted only when true) — "free-form
    / imported layout": pools may be any size/placement (not stacked full-width),
    message flows route rectilinearly between non-aligned elements, and the
    pure-geometry validation rules are suppressed. AI image import can additionally
    reproduce a vendor's drawn positions + connector attachment/routing (normalised
    bounds/waypoints are plan-only — NOT part of the export).

  v1.38 — Domain (UML) diagram elements + connectors. SHAPE CHANGE: SymbolTypeEnum
    gains "uml-package" and "uml-note"; ConnectorTypeEnum gains "uml-containment"
    (a solid DIRECT package-to-package line ending in a circle-with-cross marker;
    an OPTIONAL boolean connector attribute containmentSwapEnd moves that marker
    from the target end to the source end) and "uml-note-anchor" (a dashed DIRECT
    arrowhead-less Note->element link). Both reuse the existing "direct" routingType.
    Behaviour-only (no shape change): a "Direct" straight-line option on
    uml-generalisation and Shift near-edge quick-add of class attributes/operations.
    (These enum + attribute declarations were synced into this XSD retroactively
    during the schema-changelog catch-up; the release itself was v1.38.)

  v1.39 — Pain Points. SHAPE CHANGE: SymbolTypeEnum gains "uml-pain-point" (an
    auto-numbered starburst icon — the number is the element label; the OPTIONAL
    multi-line properties.description rides in the open PropertiesType) and <data>
    gains an OPTIONAL boolean showPainPointDescriptions (auto-enabled with the first
    Pain Point). Behaviour-only: auto-connect on element drop restricted to BPMN /
    flowchart. (uml-pain-point synced into this XSD retroactively; release v1.39.)

  v1.40 — Pain Point "Display Pain Points" master toggle. SHAPE CHANGE: <data> gains
    an OPTIONAL boolean showPainPoints (absent or true = icons shown; explicit false
    = hidden); the v1.39 showPainPointDescriptions toggle nests under it.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dgx="http://diagramatix.com/export/1.0"
           targetNamespace="http://diagramatix.com/export/1.0"
           elementFormDefault="qualified"
           version="{{SCHEMA_VERSION}}">

  <xs:annotation>
    <xs:documentation>Generated by Diagramatix {{APP_VERSION}}</xs:documentation>
  </xs:annotation>

  <!-- ============================================================ -->
  <!-- Version patterns                                              -->
  <!-- ============================================================ -->
  <!-- Schema version: major.minor  e.g. "1.0", "1.1", "2.0" -->
  <xs:simpleType name="SchemaVersionString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+\.\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- App version: major.minor.build  e.g. "1.0.147" -->
  <xs:simpleType name="AppVersionString">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+\.\d+\.\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Root element                                                  -->
  <!-- ============================================================ -->
  <xs:element name="diagramatix-export" type="dgx:ExportType"/>

  <xs:complexType name="ExportType">
    <xs:sequence>
      <xs:element name="project"        type="dgx:ProjectType"/>
      <!-- APQC PCF attribution notice — present whenever the export carries
           PCF-derived content (a classification or a pcf-tagged element). -->
      <xs:element name="pcfAttribution" type="xs:string" minOccurs="0"/>
      <xs:element name="diagrams"       type="dgx:DiagramListType"/>
      <xs:element name="folderTree"     type="dgx:FolderTreeType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="schemaVersion" type="dgx:SchemaVersionString" use="required"/>
    <xs:attribute name="appVersion"    type="dgx:AppVersionString"    use="required"/>
    <xs:attribute name="exportedAt"    type="xs:dateTime"             use="required"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Project metadata                                              -->
  <!-- ============================================================ -->
  <xs:complexType name="ProjectType">
    <xs:sequence>
      <xs:element name="name"        type="xs:string"/>
      <xs:element name="description" type="xs:string"  minOccurs="0"/>
      <xs:element name="ownerName"   type="xs:string"  minOccurs="0"/>
      <xs:element name="colorConfig" type="dgx:ColorConfigType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorConfigType">
    <xs:sequence>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:anyAttribute processContents="lax"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Diagram list                                                  -->
  <!-- ============================================================ -->
  <xs:complexType name="DiagramListType">
    <xs:sequence>
      <xs:element name="diagram" type="dgx:DiagramType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DiagramType">
    <xs:sequence>
      <xs:element name="name"        type="xs:string"/>
      <xs:element name="data"        type="dgx:DiagramDataType"/>
      <xs:element name="colorConfig" type="dgx:ColorConfigType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="originalId"  type="xs:string" use="required"/>
    <xs:attribute name="type"        type="dgx:DiagramTypeEnum" use="required"/>
    <xs:attribute name="displayMode" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Diagram type enum                                             -->
  <!-- ============================================================ -->
  <xs:simpleType name="DiagramTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="context"/>
      <xs:enumeration value="basic"/>
      <xs:enumeration value="process-context"/>
      <xs:enumeration value="state-machine"/>
      <xs:enumeration value="bpmn"/>
      <xs:enumeration value="domain"/>
      <xs:enumeration value="value-chain"/>
      <xs:enumeration value="archimate"/>          <!-- schema 1.9 -->
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- DiagramData (elements + connectors + viewport + title)        -->
  <!-- ============================================================ -->
  <xs:complexType name="DiagramDataType">
    <xs:sequence>
      <xs:element name="elements"     type="dgx:ElementListType"/>
      <xs:element name="connectors"   type="dgx:ConnectorListType"/>
      <xs:element name="viewport"     type="dgx:ViewportType"/>
      <xs:element name="title"        type="dgx:DiagramTitleType"  minOccurs="0"/>
      <!-- schema 1.14 — per-diagram process owner (name + email). -->
      <xs:element name="processOwner" type="dgx:ProcessOwnerType"  minOccurs="0"/>
      <!-- schema 1.36 — primary procedure document (linked SOP): url + name. -->
      <xs:element name="procedureDoc" type="dgx:ProcedureDocType"  minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="fontSize"          type="xs:decimal" use="optional"/>
    <xs:attribute name="connectorFontSize" type="xs:decimal" use="optional"/>
    <xs:attribute name="titleFontSize"     type="xs:decimal" use="optional"/>
    <!-- schema 1.9 — pool / lane header label sizes (default 12 each) -->
    <xs:attribute name="poolFontSize"      type="xs:decimal" use="optional"/>
    <xs:attribute name="laneFontSize"      type="xs:decimal" use="optional"/>
    <!-- schema 1.17 — Context-Diagram process-system label size (default 16).
         Sets the central process name independently from entity labels
         (fontSize) and flow-connector labels (connectorFontSize). -->
    <xs:attribute name="processFontSize"   type="xs:decimal" use="optional"/>
    <!-- schema 1.9 — domain diagram database backend: "none" | "postgres" -->
    <xs:attribute name="database"          type="xs:string"  use="optional"/>
    <!-- schema 1.37 — BPMN "free-form / imported layout": pools any size/placement,
         rectilinear messages between non-aligned elements, geometry validation relaxed.
         Set when a competitor diagram is imported from an image and reproduced as drawn. -->
    <xs:attribute name="relaxedLayout"     type="xs:boolean" use="optional"/>
    <!-- schema 1.40 — "Display Pain Points" master toggle (absent/true = shown;
         explicit false = hidden). -->
    <xs:attribute name="showPainPoints" type="xs:boolean" use="optional"/>
    <!-- schema 1.39 — render Pain Point descriptions as captions under their
         icons. Auto-enabled when the first Pain Point is added. -->
    <xs:attribute name="showPainPointDescriptions" type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- DiagramTitle                                                  -->
  <!-- ============================================================ -->
  <xs:complexType name="DiagramTitleType">
    <xs:attribute name="version"   type="xs:string"          use="optional"/>
    <xs:attribute name="authors"   type="xs:string"          use="optional"/>
    <xs:attribute name="status"    type="dgx:DiagramStatusEnum" use="optional"/>
    <xs:attribute name="showTitle" type="xs:boolean"         use="optional"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- ProcessOwner — schema 1.14                                    -->
  <!-- ============================================================ -->
  <xs:complexType name="ProcessOwnerType">
    <xs:attribute name="name"  type="xs:string" use="optional"/>
    <xs:attribute name="email" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- ProcedureDoc — schema 1.36 (the linked written SOP)          -->
  <!-- ============================================================ -->
  <xs:complexType name="ProcedureDocType">
    <xs:attribute name="url"  type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="DiagramStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="draft"/>
      <xs:enumeration value="final"/>
      <xs:enumeration value="production"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Viewport                                                      -->
  <!-- ============================================================ -->
  <xs:complexType name="ViewportType">
    <xs:attribute name="x"    type="xs:decimal" use="required"/>
    <xs:attribute name="y"    type="xs:decimal" use="required"/>
    <xs:attribute name="zoom" type="xs:decimal" use="required"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Point                                                         -->
  <!-- ============================================================ -->
  <xs:complexType name="PointType">
    <xs:attribute name="x" type="xs:decimal" use="required"/>
    <xs:attribute name="y" type="xs:decimal" use="required"/>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Elements                                                      -->
  <!-- ============================================================ -->
  <xs:complexType name="ElementListType">
    <xs:sequence>
      <xs:element name="element" type="dgx:ElementType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ElementType">
    <xs:sequence>
      <xs:element name="label"      type="xs:string"/>
      <xs:element name="properties" type="dgx:PropertiesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id"     type="xs:string"          use="required"/>
    <xs:attribute name="type"   type="dgx:SymbolTypeEnum" use="required"/>
    <xs:attribute name="x"      type="xs:decimal"         use="required"/>
    <xs:attribute name="y"      type="xs:decimal"         use="required"/>
    <xs:attribute name="width"  type="xs:decimal"         use="required"/>
    <xs:attribute name="height" type="xs:decimal"         use="required"/>
    <!-- Optional type-specific attributes -->
    <xs:attribute name="parentId"       type="xs:string"              use="optional"/>
    <xs:attribute name="boundaryHostId" type="xs:string"              use="optional"/>
    <xs:attribute name="taskType"       type="dgx:BpmnTaskTypeEnum"   use="optional"/>
    <xs:attribute name="gatewayType"    type="dgx:GatewayTypeEnum"    use="optional"/>
    <xs:attribute name="eventType"      type="dgx:EventTypeEnum"      use="optional"/>
    <xs:attribute name="repeatType"     type="dgx:RepeatTypeEnum"     use="optional"/>
    <xs:attribute name="flowType"       type="dgx:FlowTypeEnum"       use="optional"/>
  </xs:complexType>

  <!-- Element properties (flexible key-value) -->
  <xs:complexType name="PropertiesType">
    <xs:sequence>
      <xs:element name="property" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:sequence>
            <!-- For structured property values (e.g. UML attributes/operations) -->
            <xs:element name="item" type="dgx:PropertyItemType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
          <xs:attribute name="name"  type="xs:string" use="required"/>
          <xs:attribute name="type"  type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Property item (for list values like UML attributes/operations/enum values) -->
  <xs:complexType name="PropertyItemType">
    <xs:sequence>
      <xs:element name="field" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================================ -->
  <!-- Symbol type enum                                              -->
  <!-- ============================================================ -->
  <xs:simpleType name="SymbolTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="task"/>
      <xs:enumeration value="gateway"/>
      <xs:enumeration value="start-event"/>
      <xs:enumeration value="intermediate-event"/>
      <xs:enumeration value="end-event"/>
      <xs:enumeration value="use-case"/>
      <xs:enumeration value="actor"/>
      <xs:enumeration value="team"/>
      <xs:enumeration value="state"/>
      <xs:enumeration value="initial-state"/>
      <xs:enumeration value="final-state"/>
      <xs:enumeration value="pool"/>
      <xs:enumeration value="lane"/>
      <xs:enumeration value="subprocess"/>
      <xs:enumeration value="subprocess-expanded"/>
      <xs:enumeration value="system-boundary"/>
      <xs:enumeration value="system-boundary-body"/>
      <xs:enumeration value="hourglass"/>
      <xs:enumeration value="composite-state"/>
      <xs:enumeration value="composite-state-body"/>
      <xs:enumeration value="system"/>
      <xs:enumeration value="data-object"/>
      <xs:enumeration value="data-store"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="text-annotation"/>
      <xs:enumeration value="external-entity"/>
      <xs:enumeration value="process-system"/>
      <xs:enumeration value="uml-class"/>
      <xs:enumeration value="uml-enumeration"/>
      <xs:enumeration value="sublane"/>
      <xs:enumeration value="fork-join"/>
      <xs:enumeration value="submachine"/>
      <xs:enumeration value="chevron"/>
      <xs:enumeration value="chevron-collapsed"/>
      <xs:enumeration value="process-group"/>
      <!-- schema 1.9 — generic ArchiMate shape; specific shape stored
           in element.properties.shapeKey (resolved against the runtime
           ArchiMate catalogue under public/archimate-catalogue.json). -->
      <xs:enumeration value="archimate-shape"/>
      <!-- schema 1.15 — reviewer's comment note (Phase 3). The review
           it belongs to and its author are stored in element.properties
           (reviewId, reviewerId, reviewerName, reviewerEmail). -->
      <xs:enumeration value="review-comment"/>
      <!-- schema 1.38 — Domain (UML) diagram containers: a resizeable
           folder-tab package grouping members (by parentId), and a
           folded-corner free-text note. -->
      <xs:enumeration value="uml-package"/>
      <xs:enumeration value="uml-note"/>
      <!-- schema 1.39 — auto-numbered Pain Point marker. The number is the
           element label; an OPTIONAL multi-line properties.description and the
           diagram-level showPainPoints / showPainPointDescriptions booleans
           control rendering. Type-agnostic (usable on any diagram type). -->
      <xs:enumeration value="uml-pain-point"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- BPMN task type enum                                           -->
  <!-- ============================================================ -->
  <xs:simpleType name="BpmnTaskTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="user"/>
      <xs:enumeration value="service"/>
      <xs:enumeration value="script"/>
      <xs:enumeration value="send"/>
      <xs:enumeration value="receive"/>
      <xs:enumeration value="manual"/>
      <xs:enumeration value="business-rule"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Gateway type enum                                             -->
  <!-- ============================================================ -->
  <xs:simpleType name="GatewayTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="exclusive"/>
      <xs:enumeration value="inclusive"/>
      <xs:enumeration value="parallel"/>
      <xs:enumeration value="event-based"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Event type enum                                               -->
  <!-- ============================================================ -->
  <xs:simpleType name="EventTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="message"/>
      <xs:enumeration value="timer"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="signal"/>
      <xs:enumeration value="terminate"/>
      <xs:enumeration value="conditional"/>
      <xs:enumeration value="escalation"/>
      <xs:enumeration value="cancel"/>
      <xs:enumeration value="compensation"/>
      <xs:enumeration value="link"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Repeat type enum                                              -->
  <!--   none           — no repeat marker                            -->
  <!--   loop           — standard loop marker                        -->
  <!--   mi-sequential  — multi-instance, sequential (BPMN 2 §13.2)   -->
  <!--   mi-parallel    — multi-instance, parallel  (BPMN 2 §13.2)    -->
  <!-- ============================================================ -->
  <xs:simpleType name="RepeatTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="loop"/>
      <xs:enumeration value="mi-sequential"/>
      <xs:enumeration value="mi-parallel"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Gateway role enum (decision | merge)                          -->
  <!--   Stored as element.properties.gatewayRole                    -->
  <!--   "merge" hides the gateway label and is used by the          -->
  <!--   Group-Connect-to-Gateway feature                            -->
  <!-- ============================================================ -->
  <xs:simpleType name="GatewayRoleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="decision"/>
      <xs:enumeration value="merge"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Subprocess type enum                                          -->
  <!--   Stored as element.properties.subprocessType                 -->
  <!-- ============================================================ -->
  <xs:simpleType name="SubprocessTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="call"/>
      <xs:enumeration value="event"/>
      <xs:enumeration value="transaction"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Pool type enum                                                -->
  <!--   Stored as element.properties.poolType                       -->
  <!-- ============================================================ -->
  <xs:simpleType name="PoolTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="black-box"/>
      <xs:enumeration value="white-box"/>
    </xs:restriction>
  </xs:simpleType>

  <!--
    Other element.properties keys used by BPMN diagrams (free-form,
    no enum restriction in this XSD because they are stored as the
    flexible PropertiesType key/value pairs):

      adHoc            : boolean   — subprocess/subprocess-expanded marker (BPMN 2 §13.5)
      isSystem         : boolean   — black-box pool only (schema 1.8). true = IT system
                                     (positioned below the main process pool and kept with
                                     task.taskType "user" / "service" per R07); false =
                                     external entity / person / organisation (positioned
                                     above the main pool, R06 Send/Receive task typing).
                                     Set explicitly by the AI Plan workflow; falls back
                                     to a label-keyword regex for legacy/manual pools.
      labelOffsetX     : decimal   — gateway/event/data external label X offset
      labelOffsetY     : decimal   — gateway/event/data external label Y offset
      labelWidth       : decimal   — gateway/event/data external label width
      multiplicity     : "single" | "collection"  — data object/store
      role             : "input" | "output" | "none" — data object I/O marker
      state            : string    — data object state badge
      link             : string    — data object/store free-text document URL
      filename         : string    — data object/store document filename
      sharepointLink   : object    — data object/store linked SharePoint/OneDrive file (schema 1.22).
                                     JSON-encoded { driveId, itemId, name, webUrl }; set via the
                                     editor "Link SharePoint file…" button, previewed in-app.
      linkedDiagramId  : string    — collapsed subprocess / submachine / collapsed process drill-down link

    Value-chain element properties (chevron = Process, chevron-collapsed = Collapsed Process,
    process-group = Value Chain container):
      fillColor        : string    — per-element fill colour (hex, from process colour theme or auto-tint)
      description      : string    — process description text (multi-line)
      showDescription  : boolean   — whether to display the description box below the process

    Process-context element properties:
      Processes (use-case) support P-XX-NN numbering (e.g. P-HR-01).
      Hourglass (auto-scheduler) connectors use open-directed arrow type.
      System and hourglass actors are positioned to the right of the process group.
      Teams and actors are positioned based on their connected process side.

    BPMN event properties (schema 1.6):
      Event Type dropdown converts between start-event, intermediate-event, end-event.
      Trigger (formerly "Event Type") sets the event trigger (message, timer, error, etc.).
      Auto-connect rules: never TO a start event, never FROM an end event.
      Expanded Subprocesses of type event or transaction excluded from auto-connect.
      Nested expanded subprocesses lighten in shade (25% per level toward white).

    BPMN sequence connector rules (schema 1.6):
      S1: No sequence TO a non-boundary start event (auto-converts to intermediate).
      S2: Sequence TO a boundary start event IS allowed (from outside the host subprocess).
      S3: No sequence FROM a non-boundary end event (auto-converts to intermediate).
      S4: No sequence TO or FROM an Event Expanded Subprocess.
      S5: No sequence TO anything inside an Event Expanded Subprocess (from outside).
      S6: No sequence FROM anything inside an Event Expanded Subprocess (to outside).
      S7: Internal connections within an Event Expanded Subprocess ARE allowed.
      S8: Edge-mounted End/Intermediate Events cannot connect INTO their host subprocess.
      R23: Task type auto-set on message connector: non-System pool → Send/Receive,
           System pool → User regardless of direction.
      Force-connect override: Shift+Ctrl+Click bypasses all validation rules.
      Target highlighting synced with validation: green highlights match actual connectable targets.

    BPMN palette order (schema 1.6):
      Start, Intermediate, End, Task, Subprocess, Expanded Sub, Gateway, Pool,
      Data Object, Data Store, Annotation, Group.
    Pool/Lane header widths: Pool 45px, Lane/Sublane 36px (50% wider than original).

    AI generation features (schema 1.6):
      All diagram types support AI-assisted generation via the AI Generate panel.
      Users can type a prompt, dictate via speech-to-text, or attach a document
      (PDF with native document understanding, or text files: .txt, .md, .csv, .rtf).
      Saved prompts are filtered by diagram type and support edit/update.
      AI Rules & Preferences (admin) control generation behaviour per diagram type.

    AI Plan (two-phase) workflow for BPMN (schema 1.8):
      BPMN diagrams use a two-phase flow. Phase 1 (POST /api/ai/bpmn/plan)
      sends the prompt + rules to Sonnet and returns a normalised JSON plan
      ({ elements: AiElement[], connections: AiConnection[] }) without running
      layout. Phase 2 (POST /api/ai/bpmn/apply-layout) takes a (possibly
      user-edited) plan, validates via Zod, and runs the deterministic layout
      engine. The plan is exposed in the Diagram Editor via four synchronised
      tabs (Pools/Lanes, Elements, Connectors, Raw JSON) — edits made on any
      tab propagate to the others. The plan JSON is persisted alongside the
      saved Prompt record (Prompt.planJson column) so reloading a prompt
      restores both the text and the last structural draft.

      Green vs red rule split: rules under BPMN groups whose heading matches
      /layout|positioning|placement|spacing|sizing|arrangement|connector routing/i
      are categorised as layout-engine-enforced (red); all others are
      AI-enforced (green). Currently both sets are sent to Sonnet; future
      work will send only green rules to Sonnet with layout-only rules
      applied locally.

      R31 (no sequence to/from Event Expanded Subprocess) is enforced in four
      places: AI system prompt, layout engine filter, manual ADD_CONNECTOR
      reducer, UI drop-target highlighting. The layout filter treats a
      connection with no explicit type as sequence (matches downstream default).
  -->


  <!-- ============================================================ -->
  <!-- Flow type enum                                                -->
  <!-- ============================================================ -->
  <xs:simpleType name="FlowTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="catching"/>
      <xs:enumeration value="throwing"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Value analysis enum (BPMN task/subprocess)                    -->
  <!-- ============================================================ -->
  <xs:simpleType name="ValueAnalysisEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="NNVA"/>
      <xs:enumeration value="NVA"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Time unit enum (BPMN task/subprocess cycle/wait times)        -->
  <!-- ============================================================ -->
  <xs:simpleType name="TimeUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="sec"/>
      <xs:enumeration value="min"/>
      <xs:enumeration value="hrs"/>
      <xs:enumeration value="days"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- NOTE: PoolTypeEnum is defined once, earlier in this file (near the
       Subprocess type enum). The duplicate definition that previously sat
       here was removed — XSD forbids two global type definitions with the
       same name, and it made the schema fail to compile under a real
       validator (xmllint). Same applies to the SubprocessTypeEnum /
       GatewayRoleEnum duplicates removed just below. -->

  <!-- ============================================================ -->
  <!-- Data object role enum                                         -->
  <!-- ============================================================ -->
  <xs:simpleType name="DataObjectRoleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="input"/>
      <xs:enumeration value="output"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Data object/store multiplicity enum                           -->
  <!-- ============================================================ -->
  <xs:simpleType name="DataMultiplicityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="single"/>
      <xs:enumeration value="collection"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- SubprocessTypeEnum + GatewayRoleEnum duplicates removed here — both are
       defined once earlier (near the Gateway type enum). See the PoolTypeEnum
       note above. -->

  <!-- ============================================================ -->
  <!-- Interruption type enum (boundary events)                      -->
  <!-- ============================================================ -->
  <xs:simpleType name="InterruptionTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="interrupting"/>
      <xs:enumeration value="non-interrupting"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Annotation colour enum                                        -->
  <!-- ============================================================ -->
  <xs:simpleType name="AnnotationColorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="black"/>
      <xs:enumeration value="green"/>
      <xs:enumeration value="orange"/>
      <xs:enumeration value="red"/>
      <xs:enumeration value="purple"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Annotation font style enum                                    -->
  <!-- ============================================================ -->
  <xs:simpleType name="AnnotationFontStyleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="italic"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Connectors                                                    -->
  <!-- ============================================================ -->
  <xs:complexType name="ConnectorListType">
    <xs:sequence>
      <xs:element name="connector" type="dgx:ConnectorType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConnectorType">
    <xs:sequence>
      <xs:element name="waypoints" type="dgx:WaypointListType" minOccurs="0"/>
      <!-- Optional label -->
      <xs:element name="label"     type="xs:string" minOccurs="0"/>
      <!-- Curvilinear control point offsets -->
      <xs:element name="cp1RelOffset" type="dgx:PointType" minOccurs="0"/>
      <xs:element name="cp2RelOffset" type="dgx:PointType" minOccurs="0"/>
      <!-- Formal transition label parts (state-machine) -->
      <xs:element name="transition" type="dgx:TransitionType" minOccurs="0"/>
      <!-- UML association source end -->
      <xs:element name="sourceEnd" type="dgx:AssociationEndType" minOccurs="0"/>
      <!-- UML association target end -->
      <xs:element name="targetEnd" type="dgx:AssociationEndType" minOccurs="0"/>
      <!-- UML association name -->
      <xs:element name="associationName" type="dgx:AssociationNameType" minOccurs="0"/>
    </xs:sequence>
    <!-- Required attributes -->
    <xs:attribute name="id"            type="xs:string"                use="required"/>
    <xs:attribute name="sourceId"      type="xs:string"                use="required"/>
    <xs:attribute name="targetId"      type="xs:string"                use="required"/>
    <xs:attribute name="type"          type="dgx:ConnectorTypeEnum"    use="required"/>
    <xs:attribute name="sourceSide"    type="dgx:SideEnum"             use="required"/>
    <xs:attribute name="targetSide"    type="dgx:SideEnum"             use="required"/>
    <xs:attribute name="directionType" type="dgx:DirectionTypeEnum"    use="required"/>
    <xs:attribute name="routingType"   type="dgx:RoutingTypeEnum"      use="required"/>
    <!-- Optional attributes -->
    <xs:attribute name="sourceInvisibleLeader" type="xs:boolean" use="optional"/>
    <xs:attribute name="targetInvisibleLeader" type="xs:boolean" use="optional"/>
    <xs:attribute name="labelOffsetX"   type="xs:decimal" use="optional"/>
    <xs:attribute name="labelOffsetY"   type="xs:decimal" use="optional"/>
    <xs:attribute name="labelWidth"     type="xs:decimal" use="optional"/>
    <xs:attribute name="sourceOffsetAlong" type="xs:decimal" use="optional"/>
    <xs:attribute name="targetOffsetAlong" type="xs:decimal" use="optional"/>
    <xs:attribute name="labelAnchor"    type="dgx:LabelAnchorEnum" use="optional"/>
    <xs:attribute name="arrowAtSource"  type="xs:boolean" use="optional"/>
    <!-- schema 1.38 — uml-containment only: move the circle-with-cross marker
         from the target (containing package) end to the source end. -->
    <xs:attribute name="containmentSwapEnd" type="xs:boolean" use="optional"/>
    <xs:attribute name="bottleneck"    type="xs:boolean" use="optional"/>
    <!-- Simulation (v1.24 model / v1.25 export): decision-gateway branch
         routing. An outgoing edge of a decision gateway carries EITHER a
         branchProbability (0..100, BPSim Probability) OR a branchCondition
         (an expression, BPSim Condition); isDefaultFlow marks the else edge. -->
    <xs:attribute name="branchProbability" type="xs:decimal" use="optional"/>
    <xs:attribute name="branchCondition"   type="xs:string"  use="optional"/>
    <xs:attribute name="isDefaultFlow"     type="xs:boolean" use="optional"/>
  </xs:complexType>

  <!-- Waypoints -->
  <xs:complexType name="WaypointListType">
    <xs:sequence>
      <xs:element name="point" type="dgx:PointType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Formal transition labels -->
  <xs:complexType name="TransitionType">
    <xs:attribute name="labelMode" type="dgx:LabelModeEnum" use="optional"/>
    <xs:attribute name="event"     type="xs:string" use="optional"/>
    <xs:attribute name="guard"     type="xs:string" use="optional"/>
    <xs:attribute name="actions"   type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="LabelModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="informal"/>
      <xs:enumeration value="formal"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- UML association end properties -->
  <xs:complexType name="AssociationEndType">
    <xs:sequence>
      <xs:element name="roleOffset"       type="dgx:PointType" minOccurs="0"/>
      <xs:element name="multOffset"       type="dgx:PointType" minOccurs="0"/>
      <xs:element name="constraintOffset" type="dgx:PointType" minOccurs="0"/>
      <xs:element name="uniqueOffset"     type="dgx:PointType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="role"           type="xs:string"             use="optional"/>
    <xs:attribute name="multiplicity"   type="xs:string"             use="optional"/>
    <xs:attribute name="visibility"     type="dgx:UmlVisibilityEnum" use="optional"/>
    <xs:attribute name="ordered"        type="xs:boolean"            use="optional"/>
    <xs:attribute name="unique"         type="xs:boolean"            use="optional"/>
    <xs:attribute name="qualifier"      type="xs:string"             use="optional"/>
    <xs:attribute name="propertyString" type="xs:string"             use="optional"/>
  </xs:complexType>

  <xs:simpleType name="UmlVisibilityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="+"/>
      <xs:enumeration value="-"/>
      <xs:enumeration value="#"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- UML association name -->
  <xs:complexType name="AssociationNameType">
    <xs:sequence>
      <xs:element name="offset" type="dgx:PointType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name"             type="xs:string" use="required"/>
    <xs:attribute name="readingDirection" type="dgx:ReadingDirectionEnum" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="ReadingDirectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="to-source"/>
      <xs:enumeration value="to-target"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Connector type enum                                           -->
  <!-- ============================================================ -->
  <xs:simpleType name="ConnectorTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="sequence"/>
      <xs:enumeration value="message"/>
      <xs:enumeration value="association"/>
      <xs:enumeration value="transition"/>
      <xs:enumeration value="associationBPMN"/>
      <xs:enumeration value="messageBPMN"/>
      <xs:enumeration value="flow"/>
      <xs:enumeration value="uml-association"/>
      <xs:enumeration value="uml-aggregation"/>
      <xs:enumeration value="uml-composition"/>
      <xs:enumeration value="uml-generalisation"/>
      <xs:enumeration value="uml-dependency"/>
      <xs:enumeration value="uml-realisation"/>
      <!-- schema 1.38 — domain-diagram connectors: containment (solid direct
           package-to-package line with a circle-with-cross marker) and note
           anchor (dashed direct line from a Note to any non-note/non-pain-point
           element). -->
      <xs:enumeration value="uml-containment"/>
      <xs:enumeration value="uml-note-anchor"/>
      <!-- schema 1.9 — ArchiMate relationship types. The specific
           relationship sub-flavour is stored in
           connector.properties.relationshipKey and resolved against
           the runtime ArchiMate catalogue. -->
      <!-- Structural -->
      <xs:enumeration value="archi-composition"/>
      <xs:enumeration value="archi-aggregation"/>
      <xs:enumeration value="archi-assignment"/>
      <xs:enumeration value="archi-realisation"/>
      <!-- Dependency -->
      <xs:enumeration value="archi-serving"/>
      <xs:enumeration value="archi-access"/>
      <xs:enumeration value="archi-influence"/>
      <xs:enumeration value="archi-association"/>
      <!-- Dynamic -->
      <xs:enumeration value="archi-triggering"/>
      <xs:enumeration value="archi-flow"/>
      <!-- Other -->
      <xs:enumeration value="archi-specialisation"/>
      <!-- schema 1.15 — pink link from a review-comment note to the
           element it concerns (Phase 3). -->
      <xs:enumeration value="review-comment-link"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Side enum                                                     -->
  <!-- ============================================================ -->
  <xs:simpleType name="SideEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="left"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Direction type enum                                           -->
  <!-- ============================================================ -->
  <xs:simpleType name="DirectionTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="directed"/>
      <xs:enumeration value="non-directed"/>
      <xs:enumeration value="open-directed"/>
      <xs:enumeration value="both"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Routing type enum                                             -->
  <!-- ============================================================ -->
  <xs:simpleType name="RoutingTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="direct"/>
      <xs:enumeration value="rectilinear"/>
      <xs:enumeration value="curvilinear"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Label anchor enum                                             -->
  <!-- ============================================================ -->
  <xs:simpleType name="LabelAnchorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="midpoint"/>
      <xs:enumeration value="source"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================ -->
  <!-- Folder tree (preserves project organisation)                  -->
  <!-- ============================================================ -->
  <xs:complexType name="FolderTreeType">
    <xs:sequence>
      <xs:element name="folders" type="dgx:FolderListType" minOccurs="0"/>
      <xs:element name="diagramFolderMap" type="dgx:MappingListType" minOccurs="0"/>
      <xs:element name="diagramOrder"     type="dgx:OrderListType"   minOccurs="0"/>
      <xs:element name="folderOrder"      type="dgx:OrderListType"   minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FolderListType">
    <xs:sequence>
      <xs:element name="folder" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id"       type="xs:string"  use="required"/>
          <xs:attribute name="name"     type="xs:string"  use="required"/>
          <xs:attribute name="parentId" type="xs:string"  use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Generic key → value mapping (diagramId → folderId) -->
  <xs:complexType name="MappingListType">
    <xs:sequence>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="key"   type="xs:string" use="required"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Generic key → ordered list mapping (folderId → [id1, id2, ...]) -->
  <xs:complexType name="OrderListType">
    <xs:sequence>
      <xs:element name="group" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="id" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="key" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
